* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/houndstooth-pattern.png');
    margin-top: 14%;
    min-height: 100%;
    position: relative;
    padding-bottom: 30px;
    
}

/* header styling includes h1 and navbar */
.header{
    position: fixed;
    /* margin: 0 auto; */
    width: 100%;
    background-color: white;
    height: 7%;
    top: 0;
    border-bottom: 10px, solid, green;
}

/* this is my names h1 box */
.name{
    padding: 10px;
    background-color: rgb(29, 31, 160);
    color: white;
    float: left;
    margin: 0% 10% 0% 10%;
}

.navbar {
    float: right;
    padding: 20px;   
}

/* content styling */
.info{
    background: white;
    height: 400px;
    clear: both;
    margin: 0% 10% 0% 10%;
    border: 1px solid rgb(60, 207, 23);
    padding: 20px;
    position: relative;
    
}




.portfoliolink1, .portfoliolink2, .portfoliolink3, .portfoliolink4,.portfoliolink5,.portfoliolink6 {
    
    width: 80px;
    height: 80px;
   margin: 10px;
    padding: 5px;
}

form {
    padding: 20px;
}

.linkimg1, .linkimg2, .linkimg3, .linkimg4, .linkimg5, .linkimg6 {
    width: 90px;
    height: 90px;
    padding: 10px;
    border: 1px solid black;
   position: absolute;
   
    
    
  
}

.linkanchor {
    
    background-color: aqua;
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 100px;
    position: relative;
}
/* picture of me on about page */
.aboutimg {

    width: 200px;
    height: 150px;   
    padding: 10px;
    float: left;
    
    
}

.abouttxt {
    padding: 10px;
    position: relative;
}

/* footer syle */
.footer {
    position: fixed;
    text-align: center;
    background-color: rgb(29, 31, 160);
    color: white;
    left: 0; right: 0; bottom: 0;
    height: 30px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 12px;
    max-width: 100%;
    min-width: 100%;
   
}


.pagetitle {
    padding: 10px;
    color: blue;
}
